<article class="border w-64">
    <section class="">
        <img class="" src="../../../../assets/images/Belleza1.jpeg" alt="">
    </section>
    <section class="">
        <span class=""> Product Name </span>
    </section>    
    <section class="">
        <section class="discount">
            <span class="discount_price"> $100.00 </span>
        </section>
        <section class="original">
            <span class="original_price"> $100.00 </span>
        </section>
    </section>
</article>
